# Ignorar carpetas pesadas de datos
osrm-data/
postgres_data/
keycloak_data/

# Ignorar archivos compilados locales
**/target/
**/*.class
**/*.jar

# Ignorar configuraciones de IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Ignorar logs y temporales
*.log
docker-compose.override.yml
.git/
.gitignore